@media screen and (max-width: 768px) {
    .navbar-body{
        position: absolute;
        inset: 0px;
        top: -1000%;
        width: 100%;
        margin-inline: auto;
        height: 80dvh;
        transition: 1s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }
    
    .active .navbar-body{
        top: 70px;
        background: #E74646;
    }

    .hamburger-icon{
        display: block;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .active .navbar-body .marker{
        display: none;
    }

    .navbar-yellow, .navbar-red{
        transition: 0.5s;
    }

    .navbar-yellow:hover{
        background: #E74646;
    }
    
    .navbar-red:hover{
        background: gold;
    }


    .banner-body{
        width: 30%;
    }

    .banner-body h1{
        font-size: 2rem;
    }

    .banner-body h2{
        font-size: 2rem;
    }


    .banner-img{
        width: 45%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-buttons a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-buttons{
        gap: 20px;
    }

    .job-opening-buttons button{
        min-width: 40%;
    }

    .contact-us{
        padding: 50px 20px 20px;
    }

    .contact-left{
        width: 60%;
    }
    .contact-right{
        width: 40%;
    }

    table{
        width: 90%;
    }
}


@media screen and (max-width: 425px) {
    .banner-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        isolation: isolate;
    }

    .banner-body-body-main{
        text-align: center;
    }

    .banner-body-body-main h2,.banner-body-body-main h1{
        font-size: 1.5rem;
        color: #da597d;
    }

    .banner-body-body-main h2{
        color: #ED2B2A;
    }

    .banner-body{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-img{
        width: 70%;
        margin-inline: auto;
        position: static;
        padding-top: 20px;
    }

    .beautifier{
        display: none;
    }

    .banner-section{
        position: relative;
        isolation: isolate;
    }

    .banner-section::before{
        content: '';
        position: absolute;
        z-index: -10;
        top: 72px;
        left: -1px;
        right: 10px;
        width: 300px;
        height: 100vh;
        background: #fff;
        border-top-left-radius: 150px;
        border-top-right-radius: 150px;
    }

    .banner-buttons a{
        font-size: .7rem;
        margin-bottom: 5px;
        margin-top: 25px;
        box-shadow: 5px 5px 10px #484747;
        transition: 0.5s;
    }

    .banner-buttons a:hover{
        opacity: 0.8;
        transform: scale(0.95);
        box-shadow: none;
    }

    .secondary-button{
        padding: 5px;
    }

    .job-openings{
        padding: 50px;
    }

    .job-opening-sections h2{
        margin: 20px;
    }

    .cards{
        width: 90%;
        margin: auto;
    }

    .contact-us-main{
        display: block;
    }

    .contact-box{
        flex-direction: column-reverse;
    }

    .contact-left, .contact-right{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .contact-left h3, .contact-right h3{
        margin: 20px;
    }

    .contact-us-shape{
        display: none;
    }

    .contact-us{
        position: relative;
        isolation: isolate;
        overflow: hidden;
    }

    .contact-us::before{
        content: '';
        width: 100%;
        height: 150%;
        background: #fff;
        position: absolute;
        transform: rotate(45deg);
        top: -36px;
        z-index: -10;
    }

    .footer p{
        width: 30%;
    }
}

@media screen and (max-width: 375px) {
    .banner-section::before{
        left: -20px;
    }

    .job-openings{
        padding: 20px 15px;
    }
}

@media screen and (max-width: 320px) {
    .banner-section::before{
        left: -46px;
    }
    .job-openings{
        padding: 20px 5px;
    }

    .contact-us::before{
        top: -15px;
    }
}
